vm-R/
vm-python/
cogs107/
.Rhistory
intro-bayesian-modeling/src/09-steve-animation.R

intro-bayesian-modeling/src/02-advanced-bayes-solution.Rmd
intro-bayesian-modeling/pdf/02-advanced-bayes-solution.pdf
intro-bayesian-modeling/src/05-online-sellers-solution.Rmd
intro-bayesian-modeling/pdf/05-online-sellers-solution.pdf
intro-bayesian-modeling/src/onlineSellers_solution.jags
intro-bayesian-modeling/src/06-signal-detection-theory-solution.Rmd
intro-bayesian-modeling/pdf/06-signal-detection-theory-solution.pdf


intro-bayesian-modeling/src/12-mpt-solution.Rmd
intro-bayesian-modeling/pdf/12-mpt-solution.pdf
intro-bayesian-modeling/src/mpt_solution.jags

intro-hierarchical-modeling/src/02-the-aggregation-fallacy-solution.Rmd
intro-hierarchical-modeling/pdf/02-the-aggregation-fallacy-solution.pdf
intro-hierarchical-modeling/src/05-online-sellers-revisited-solution.Rmd
intro-hierarchical-modeling/pdf/05-online-sellers-revisited-solution.pdf
intro-hierarchical-modeling/src/onlineSellersAggregate.jags
intro-hierarchical-modeling/src/onlineSellersHierarchical.jags
intro-hierarchical-modeling/src/onlineSellersIndependent.jags