vm-R/
vm-python/
cogs107/
.Rhistory
intro-bayesian-modeling/src/09-steve-animation.R

intro-bayesian-modeling/src/12-mpt-solution.Rmd
intro-bayesian-modeling/pdf/12-mpt-solution.pdf
intro-bayesian-modeling/src/mpt_solution.jags